.header {
    color: #000b8c;
    font-weight: 500;
    justify-content: center;
}

.header .row {
    height: 80vh;
}

.header .row .col h1 {
    margin-top: 30vh;
    font-size: 3rem;
    margin-left: 3vw;
    border-left: 0.2rem solid #CC9900;
    padding-left: 1vw;
}

.about_div {
    background-color: #353535;
    height: auto;
    color: white;
}

.description {
    font-size: 1.5rem;
    margin: 3vh 3vw;
}

.tagline {

}

.acronym {

}

.acronym h2 {
    display: inline;
    padding: 1vh 1vw;
}

.center_h2 {
    border-left: 0.2rem solid #CC9900;
    border-right: 0.2rem solid #CC9900;
}

.acronym_item {
    margin-bottom: 3vh;
}

.acronym_item h4 {
    color: #CC9900;
}

.brand_story {
    width: 100%;
    height: 70vh;
    background-size: cover;
    font-weight: 500;
}

.video {
    padding-top: 5vh;
    height: 60%;
    width: 70%;
    border-radius: 0.5rem;
}

.brand_story_text h2 {
    color: white;
}