.header {
    margin: 5.5rem 0 0rem;
}

.header_pic {
    width: 100%;
    height: 77vh;
    position: relative;
}

.header_item {
    position: absolute;
    top: 21.5%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.header_item h1 {
    color: #000b8c;
    font-size: 3rem;
    border-left: 0.2rem solid #CC9900;
    padding-left: 1vw;
}

.about {
    background: linear-gradient(180deg, #E8E8E8, rgba(86,86,86,1), rgba(54,54,54,1));
    box-shadow: 1rem 1rem 3rem 5rem #E8E8E8;
}

.about .row {
    padding-bottom: 1.5vh;
}

.description {
    padding: 3vh 5vw 0 5vw;
    text-align: justify;
    font-size: 1.45rem;
}

.tagline h1 {
    color: white;
    font-size: 3rem;
}

.shape img {
    width: 100%;
}

.acronym_1, .acronym_3 {
    padding-left: 5vw;
}

.acronym_2 {
    padding-right: 5vw;
}

.acronym_item h4 {
    color: #CC9900;
}

.acronym_item p {
    color: white;
    text-align: justify;
    font-size: 1.2rem;
}

.acronym_item img {
    width: 20vw;
    height: 40vh;
}

.brand_story {
    background-size: cover;
    padding: 7rem 7rem 3rem;
}

.video {
    width: 70%;
    height: 40vh;
    border-radius: 0.5rem;
}

.brand_story h2 {
    color: white;
    margin-bottom: 1.5rem;
}

.brand_story p {
    font-size: 1.25rem;
    text-align: justify;
}

.awards_div {
    color: white;
    padding: 1rem 10rem 1rem;
}

.years {
    margin: 1rem 0rem 3rem;
}

.year {
    padding: 1rem;
    margin-right: 1rem;
    background-color: #000b8c;
    border-radius: 0.6rem;
}

.awards {
    margin: 0rem 0rem 3rem; 
}

.award {
    margin-right: 1rem;
}

.award img {
    width: 45%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    margin: 0rem 0rem 0.5rem;
}

.award h5 {
    border-top: 0.13rem solid white;
    padding-top: 1vw;
}

@media (max-width: 1400px) {
    .header_pic {
        height: 30vh;
    }

    .header_item {
        top: 3.3%;
    }

    .header_item h1 {
        font-size: 1.5rem;
        padding-left: 1.5rem;
    }

    .about {
        padding: 0rem 2.5rem 0rem;
    }

    .description {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .tagline h4 {
        font-size: 1.7rem;
    }

    .tagline h1 {
        font-size: 1.85rem;
    }

    .acronym_1, .acronym_3 {
        padding-left: 2vw;
    }

    .acronym_2 {
        padding-right: 2vw;
    }

    .acronym_item img {
        width: 100%;
    }

    .brand_story {
        padding: 1.5rem 2.5rem 1.5rem;
    }

    .video {
        width: 100%;
        height: 23vh;
    }

    .brand_story h2 {
        font-size: 2.3rem;
        margin: 2rem 0 1.5rem;
    }

    .awards_div {
        padding: 1rem 2.5rem 1rem;
    }
}
