.header {
    margin-top: 9vh;
    width: 100%;
    height: 70vh;
}

.shape_bg {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 17vh;
}

.header_item {
    width: 100%;
    height: 70vh;
    background-size: cover;
    color: #000b8c;
    font-weight: 500;
    padding-top: 1.5rem; 
    cursor: pointer;
}

.header_item:hover {
    background-color: #E3AD56;
    opacity: 90%;
}

.header_item h3 {
    margin-left: 3vw;
    border-left: 0.2rem solid #CC9900;
    padding-left: 1vw;
}

.search_div {
    background-color: #FAFAFA;
    width: 100%;
    height: 7vh;
    position: absolute;
    z-index: 1;
    border-radius: 1rem;
    opacity: 97%;
}

.search_drops select {
    background-color: #D7D7D7;
    display: inline;
    width: 15vw;
    height: 5.5vh;
    font-weight: 500;
    border-radius: 1rem;
    margin-top: 0.7vh;
}

.search_drops button {
    display: inline;
    width: 4.5vw;
    height: 5vh;
    font-weight: 500;
    border-radius: 1rem;
    color: white;
}

.featured {
    width: 100%;
    padding: 5rem;
}

.featured h1 {
    color: #000b8c;
}

.featured h4 {
    color: black;
}

.featured_item {
    border-radius: 1rem;
    width: 100%;
    height: 65vh;
}

#img_carousel {
    margin: 2vh 5vw 2vh;
}

.card_front {
    z-index: 0;
    width: 100%;
}

.front_switch, .back_switch {
    cursor: pointer;
    color: white;
    margin: 2.5rem;
}

.back_switch {
    color: black;
}

.card_back {
    z-index: -1;
    position: absolute;
}

.picture {
    height: 65vh;
    border-radius: 1rem;
    background-repeat: no-repeat
}

.property_info {
    padding: 3rem;
}

.snapshot img {
    width: 36vw;
    height: 67vh;
}

.details {
    margin-left: 1vw;
}

.details h3 {
    color: #000b8c;
}

.details p {
    text-align: justify;
    font-size: 1.3rem;
}

.detail i {
    color: #CC9900;
    margin-bottom: 1rem;
}

.detail h5 {
    display: inline;
    font-size: 1.3rem;
    margin: 1rem;
}

.videos {
    height: auto;
    padding: 2.5rem;
}

.video iframe {
    width: 45%;
    height: 50vh;
    border-radius: 0.5rem;
}

.reviews_div {
    padding: 5rem;
}

.reviews_title img {
    width: 50%;
    height: 100%;
}

.reviews {
    width: 100%;
    font-weight: 500;
}

.review {
    background-color: #2E2E2D;
    border-radius: 1rem;
    color: white;
    padding: 1.5rem;
    width: 100%;
    height: 37vh;
}

.profile_logo img {
    width: 90%;
}

.profile_details h2 {
    color: #CC9900;
    font-size: 1.3rem;
}

.profile_details h4 {
    font-size: 1rem;
}

.review_text {
    padding-top: 1rem;
}
