.header {
    margin-top: 9vh;
    height: 66vh;
    background-repeat: no-repeat;
    background-position: 0 17vh;
}

.header .col:hover {
    background-color: #E3AD56;
    opacity: 90%;
}

.header .col div {
    width: 100%;
    height: 75vh;
    background-size: cover;
    color: #000b8c;
    font-weight: 500;
    padding-top: 1.5rem; 
    cursor: pointer;
}

.header h3 {
    margin-left: 3vw;
    border-left: 0.2rem solid #CC9900;
    padding-left: 1vw;
}

.header .back div {
    height: 75vh;
}

.header_carousel_div {
    margin-top: 9vh;
}

.search {
    background-color: #FAFAFA;
    border-radius: 1rem;
    margin: 0 4.5rem 1rem;
    padding: 1rem;
}

.dropdown button {
    background-color: #D7D7D7;
    display: inline;
    font-weight: 500;
    border-radius: 1rem;
    width: 100%;
    padding: 0.75rem 0.25rem 0.75rem;
}

.dropdown button:hover {
    background-color: #D7D7D7;
}

.dropdown h6 {
    margin-left: 1rem;
}

.dropdown i {
    color: #CC9900;
    margin-right: 1rem;
}

.dropdown-menu {
    width: 100%;
}

.search_btn button {
    width: 100%;
    color: white;
    padding: 0.65rem;
    border-radius: 1rem;
}

.featured {
    padding: 0rem 5rem 2rem;
}

.featured h1 {
    color: #000b8c;
    font-size: 2.5rem;
    border-left: 0.2rem solid #CC9900;
    padding-left: 0.15rem;
}

.featured h4 {
    font-size: 1.3rem;
}

#properties_carousel {
    margin: 2vh 5vw 2vh;
}

.card_front div {
    border-radius: 1rem;
    height: 66.1vh;
    background-size: cover;
}

.front_switch, .back_switch {
    cursor: pointer;
    color: white;
    margin: 2.5rem;
    font-size: 4em;
}

.back_switch {
    color: black;
    margin: 0;
    font-size: 3em;
}

.snapshot img {
    width: 44.5vw;
    height: 57.7vh;
    border-radius: 1rem;
}

.info {
    margin-left: 1.5rem;
    padding: 3rem;
    background-color: #DFDEDD;
    border-radius: 1rem;
    font-weight: 500;
}

.info h4 {
    color: #000b8c;
    font-size: 1.65rem;
}

.info p {
    text-align: justify;
    font-size: 1.15rem;
}

.details i {
    color: #CC9900;
    margin-bottom: 0.5rem;
    font-size: 1.25em;
}

.details h5 {
    display: inline;
    font-size: 1.25rem;
    margin: 0 0.5rem 0;
    font-weight: 500;
}

.br {
    display: block;
    margin-bottom: 0.5rem;
}

.carousel_controls i {
    color: #CC9900;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 0.5rem;
    font-size: 2em;
}

.videos {
    height: auto;
    padding: 2.5rem;
}

.videos iframe {
    width: 45%;
    height: 50vh;
    border-radius: 0.5rem;
}

.videos i {
    color: white;
    cursor: pointer;
    margin-top: 3rem;
    margin-right: 2rem;
    font-size: 4em;
}

.reviews {
    padding: 5rem;
}

.reviews_title img {
    width: 85%;
    height: 100%;
}

.reviews i {
    color: white;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-right: 0.75rem;
}

.review {
    background-color: #2E2E2D;
    border-radius: 1rem;
    color: white;
    padding: 1.5rem;
    font-weight: 500;
    margin-right: 0.5rem;
    padding-bottom: 7rem;
}

.profile img {
    width: 100%;
    height: 100%;
}

.profile h2 {
    color: #CC9900;
    font-size: 1.3rem;
}

.review_text {
    padding-top: 1rem;
}

.review_text p {
    text-align: justify;
}

@media (max-width: 1400px) {
    .search {
        margin: 0rem 1.5rem 1rem;
        border-radius: 0.5rem;
    }

    .search_drops>div {
        margin: 0rem 0rem 0.5rem;
    }

    .dropdown button {
        padding: 0.50rem 0.25rem 0.50rem;
    }

    .search_btn h6 {
        display: inline;
        margin-left: 0.5rem;
    }
    
    .featured {
        padding: 0rem 1.5rem 2rem;
    }

    .featured h1 {
        border: none;
    }

    .featured h1, .featured h4 {
        text-align: center;
    }

    .featured h1 {
        font-size: 1.5rem;
    }

    #properties_carousel {
        margin: 0;
    }

    .card_front div {
        height: 47vh;
        background-size: cover;
        border-radius: 0rem;
    }

    .front_switch {
        font-size: 2em;
    }
    
    .carousel_controls i {
        font-size: 1em;
    }

    .back_switch {
        font-size: 1.3em;
    }

    .snapshot img {
        width: 65vw;
        margin-top: 1rem;
    }

    .details {
        padding: 1.5rem;
    }

    .details h4 {
        font-size: 1.1rem;
    }
    
    .details p {
        font-size: 0.95rem;
    }
    
    .details i {
        margin-bottom: 0.3rem;
    }
    
    .details h5 {
        font-size: 0.85rem;
    }

    .videos iframe {
        width: 100%;
        height: 53%;
        border-radius: 0rem;
    }

    .videos i {
        color: white;
        cursor: pointer;
        margin-top: 3rem;
        margin-right: 2rem;
        font-size: 2em;
    }

    .reviews {
        padding: 1.5rem;
    }

    .reviews_title {
        margin-bottom: 2rem;
    }

    .reviews_title img {
        width: 37%;
        height: 100%;
    }

    .review {
        padding-bottom: 2rem;
        border-radius: 0;
        height: 40vh;
    }

    .profile img {
        width: 90%;
    }
    
    .profile h2 {
        color: #CC9900;
        font-size: 0.80rem;
    }

    .profile h6 {
        font-size: 0.80rem;
    }

    .review_text {
        overflow-y: auto;
    }
    
    .review_text p {
        font-size: 0.9rem;
    }
}