.header {
    margin-top: 9vh;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: 0 17vh;
}

.header_item:hover {
    background-color: #E3AD56;
    opacity: 90%;
}

.header_item div {
    width: 100%;
    height: 70vh;
    background-size: cover;
    color: #000b8c;
    font-weight: 500;
    padding-top: 1.5rem; 
    cursor: pointer;
}

.header_item div h3 {
    margin-left: 3vw;
    border-left: 0.2rem solid #CC9900;
    padding-left: 1vw;
}

.search {
    width: 100%;
    z-index: 1;
    border-radius: 1rem;
    opacity: 97%;
    padding: 0.3rem;
}

.search select {
    background-color: #D7D7D7;
    display: inline;
    width: 15vw;
    height: 5.5vh;
    font-weight: 500;
    border-radius: 1rem;
    margin-top: 0.7vh;
}

.search button {
    display: inline;
    width: 4.5vw;
    height: 5vh;
    font-weight: 500;
    border-radius: 1rem;
    color: white;
}

.featured {
    padding: 2rem 5rem 2rem;
}

.featured h1 {
    color: #000b8c;
}

#img_carousel {
    margin: 2vh 5vw 2vh;
}

.card_front {
    z-index: 0;
}

.card_front div {
    border-radius: 1rem;
    height: 75vh;
    background-size: cover;
}

.front_switch, .back_switch {
    cursor: pointer;
    color: white;
    margin: 2.5rem;
}

.back_switch {
    color: black;
    margin: 0;
}

.card_back {
    z-index: -1;
    position: absolute;
}

.snapshot {
    margin-top: 10vh;
}

.snapshot img {
    width: 30vw;
    height: 30vh;
}

.details {
    padding: 3rem;
}

.details h3 {
    color: #000b8c;
}

.details p {
    text-align: justify;
    font-size: 1.3rem;
}

.details i {
    color: #CC9900;
    margin-bottom: 1rem;
}

.details h5 {
    display: inline;
    font-size: 1.3rem;
    margin: 1rem;
}

.img_carousel_controls i {
    color: #CC9900;
    cursor: pointer;
    margin: 1rem;
}

.videos {
    height: auto;
    padding: 2.5rem;
}

.video iframe {
    width: 45%;
    height: 50vh;
    border-radius: 0.5rem;
}

.video_carousel_controls i {
    color: white;
    cursor: pointer;
    margin-top: 3rem;
    margin-right: 2rem;
}

.reviews_div {
    padding: 5rem;
}

.reviews_title img {
    width: 85%;
    height: 100%;
}

.review_carousel_controls i {
    color: white;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
}

.reviews {
    width: 100%;
    font-weight: 500;
}

.review {
    background-color: #2E2E2D;
    border-radius: 1rem;
    color: white;
    padding: 1.5rem;
    width: 100%;
    height: 37vh;
}

.profile_logo img {
    width: 90%;
}

.profile_details h2 {
    color: #CC9900;
    font-size: 1.3rem;
}

.profile_details h4 {
    font-size: 1rem;
}

.review_text {
    padding-top: 1rem;
}

