.title {
    width: 100%;
    padding: 10vh 5vw 0;
} 

.title h1 {
    color: #000b8c;
}

.search {
    background-color: #FAFAFA;
    border-radius: 1rem;
    margin: 0 5rem 1rem;
    padding: 1rem;
}

.dropdown button {
    background-color: #D7D7D7;
    display: inline;
    border-radius: 1rem;
    width: 100%;
    padding: 0.75rem 0.25rem 0.75rem;
}

.dropdown button:hover {
    background-color: #D7D7D7;
}

.dropdown h6 {
    margin-left: 1rem;
}

.dropdown i {
    color: #CC9900;
    margin-right: 1rem;
}

.dropdown-menu {
    width: 100%;
}

.search_btn button {
    width: 100%;
    color: white;
    padding: 0.65rem;
    border-radius: 1rem;
}

.categories {
    margin: 0rem 5rem 0.5rem;
}

.categories .card {
    border-radius: 1rem;
    color: #000b8c;
    margin: 0.5rem;
}

.categories h1 {
    margin-bottom: 2rem;
}

.categories a {
    text-decoration: none;
    color: #000b8c;
    margin-bottom: 1.5rem;
    font-size: 3em;
}

@media (max-width: 1400px) {
    .title h1, .title h4 {
        font-size: 1.3rem;
    }

    .search {
        margin: 0rem 1.5rem 1rem;
        border-radius: 0.5rem;
    }

    .search_drops>div {
        margin: 0rem 0rem 0.5rem;
    }

    .dropdown button {
        padding: 0.50rem 0.25rem 0.50rem;
    }

    .search_btn h6 {
        display: inline;
        margin-left: 0.5rem;
    }

    .categories {
        margin: 0rem 0rem 0.5rem;
    }

    .category {
        position: relative;
        text-align: center;
    }

    .centered {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .categories h1 {
        color: white;
        margin-bottom: 1rem;
    }
    
    .categories a {
        color: white;
        font-size: 2em;
        margin-bottom: 0.5rem;
    }
}