.title_div {
    margin-top: 10vh;
}

.title {
    width: 100%;
} 

.title h1 {
    color: #000b8c;
    font-weight: 500;
    padding-left: 5vw;
}

.title h4 {
    padding-right: 5vw;
    font-weight: 500;
}

.search {
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    opacity: 97%;
    padding: 1rem;
    margin: 1rem 7rem 2rem;
}

.search select {
    background-color: #D7D7D7;
    display: inline;
    width: 15vw;
    height: 5.5vh;
    font-weight: 500;
    border-radius: 1rem;
    width: 100%;
}

.search button {
    display: inline;
    width: 4.5vw;
    height: 5vh;
    font-weight: 500;
    border-radius: 1rem;
    color: white;
    width: 100%;
}

.categories {
    margin: 0rem 5rem 0.5rem;
}

.category .card {
    border-radius: 1rem;
    color: #000b8c;
    font-weight: 500;
    margin: 0.5rem;
}

.category h1 {
    margin-bottom: 2rem;
}

.category a {
    text-decoration: none;
    color: #000b8c;
}
