.title h1 {
    color: #000b8c;
    margin: 10vh 5rem 0;
    border-left: 0.2rem solid #CC9900;
    padding-left: 0.3vw;
}

.search {
    background-color: #FAFAFA;
    border-radius: 1rem;
    margin: 0 5rem 1rem;
    padding: 1rem;
}

.dropdown button {
    background-color: #D7D7D7;
    display: inline;
    height: 5.5vh;
    font-weight: 500;
    border-radius: 1rem;
    width: 100%;
}

.dropdown button:hover {
    background-color: #D7D7D7;
}

.dropdown h6 {
    margin-left: 1rem;
}

.dropdown i {
    color: #CC9900;
    margin-right: 1rem;
}

.dropdown-menu {
    width: 100%;
}

.search_btn button {
    width: 100%;
    color: white;
    padding: 0.65rem;
    border-radius: 1rem;
}

.unit {
    background-color: white;
    border-radius: 1rem;
    height: 70vh;
    margin: 0.5rem 5rem 1.5rem;
}

.info {
    margin: 3rem 2rem 0;
    color: black;
}

.top {
    border-left: 0.2rem solid #CC9900;
    padding-left: 2.5vw;
}

.info h3 {
    color: #000b8c;
    margin-bottom: 1rem;
}

.info i {
    display: inline;
    color: #CC9900;
    margin-right: 0.3rem;
}

.info h4 {
    display: inline;
    color: black;
}

.info h6 {
    margin: 1.5rem 0 1.5rem;
    color: #000b8c;
}

.info span {
    color: black;
}

.requirements {
    overflow-y: scroll;
    height: 37vh;
    padding-left: 2.5vw;
}

.requirements h5 {
    color: #000b8c;
}

.info a {
    color: white;
    padding: 0.75rem;
    border-radius: 0.7rem;
    margin: 1.5rem 0 1.5rem;
}

.picture {
    background-size: cover;
    border-radius: 0.7rem;
}

.picture img {
    width: 30%;
    height: 17%;
    background-color: #D3DBE0;
    padding: 1rem;
    opacity: 80%;
}

.rates {
    color: #000b8c;
    background-color: white;
    margin-top: 1.5rem;
    padding: 3rem 7rem 3rem;
}

.rates h6 {
    color: black;
    margin: 1.5rem 0 2.5rem;
}

.tbl_slots th, .tbl_slots td {
    border-bottom: 0.13rem solid #CC9900;
}

.tbl_slots h6 {
    font-size: 0.85rem;
}

@media (max-width: 1400px) {
    .search {
        margin: 0rem 1.5rem 1rem;
        border-radius: 0.5rem;
    }

    .search_drops>div {
        margin: 0rem 0rem 0.5rem;
    }

    .dropdown button {
        padding: 0.50rem 0.25rem 0.50rem;
    }

    .search_btn h6 {
        display: inline;
        margin-left: 0.5rem;
    }
}
