.title {
    margin-top: 10vh;
    color: #000b8c;
}

.title h1 {
    margin-left: 3vw;
    border-left: 0.2rem solid #CC9900;
    padding-left: 0.3vw;
}

.search {
    background-color: #FAFAFA;
    width: 100%;
    height: 7vh;
    border-radius: 1rem;
}

.search select {
    background-color: #D7D7D7;
    display: inline;
    width: 15vw;
    height: 5.5vh;
    font-weight: 500;
    border-radius: 1rem;
    margin-top: 0.7vh;
}

.search button {
    display: inline;
    width: 4.5vw;
    height: 5vh;
    font-weight: 500;
    border-radius: 1rem;
    color: white;
}

.units {
    margin: 0rem 5rem 0.5rem;
}

.unit .card {
    border-radius: 1rem;
    margin: 1.5rem;
}

.details {
    margin: 1rem;
    color: #000b8c;
}


.details i {
    display: inline;
    color: #CC9900;
}

.details h4 {
    display: inline;
    color: black;
}

.table {
    margin-top: 2vh;
}

.details span {
    color: black;
    margin-left: 1vw;
}

.unit a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    width: 100%;
}