.title h1 {
    color: #000b8c;
    margin: 10vh 4.5vw 0;
    border-left: 0.2rem solid #CC9900;
    padding-left: 0.3vw;
}

.search {
    height: 7vh;
    border-radius: 1rem;
    margin: 0.5rem 5rem 0.5rem;
}

.search select {
    background-color: #D7D7D7;
    display: inline;
    width: 26vw;
    height: 5.5vh;
    font-weight: 500;
    border-radius: 1rem;
    margin-right: 1.5rem;
}

.search button {
    display: inline;
    width: 5.7vw;
    height: 5vh;
    font-weight: 500;
    border-radius: 1rem;
    color: white;
}

.unit {
    background-color: white;
    border-radius: 1rem;
    height: 70vh;
    margin: 0.5rem 5rem 1.5rem;
}

.info {
    margin: 3rem 2rem 0;
    color: black;
}

.top {
    border-left: 0.2rem solid #CC9900;
    padding-left: 2.5vw;
}

.info h3 {
    color: #000b8c;
    margin-bottom: 1rem;
}

.info i {
    display: inline;
    color: #CC9900;
    margin-right: 0.3rem;
}

.info h4 {
    display: inline;
    color: black;
}

.info h6 {
    margin-top: 1.5rem;
    color: #000b8c;
}

.info span {
    color: black;
}

.info button {
    color: white;
    padding: 0.75rem;
    border-radius: 0.7rem;
}

.picture {
    background-size: cover;
    border-radius: 0.7rem;
}

.picture img {
    margin: 3rem 0 0;
    width: 25%;
}

.rates {
    color: #000b8c;
    background-color: white;
    margin-top: 1.5rem;
    padding: 3rem 7rem 3rem;
}

.rates h6 {
    color: black;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.tbl_slots th, .tbl_slots td {
    border-bottom: 0.13rem solid #CC9900;
}

.tbl_slots h6 {
    font-size: 0.85rem;
}
