html {
    font-size: 100%;
}

.loader {
    background-color: white;
    height: 100vh;
}

.loader h5 {
    color: gray;
    font-size: 1.25rem;
}

.loader img {
    width: 23%;
    margin-bottom: 2rem;
}

.content {
    display: none;
}

body {
    font-family: MuseoSans;
    font-style: normal;
    background-size: cover;
}

.navbar img {
    width: 3vw;
    margin-left: 3vw;
}

.nav-item {
    margin-right: 7vw;
}

.nav-item a {
    color: #000b8c;
    font-size: 1.1rem;
    padding: .7rem 0;
}

.contact_btns a {
    color: #000b8c;
    text-decoration: none;
    margin-right: 0.7rem;
    font-size: 1.5em;
}

.nav_toggle {
    color: #000b8c;
    border: none;
    background-color: transparent;
}

.footer {
    padding: 2rem;
}

.footer h3 {
    color: #000b8c;
}

.footer a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 0.5rem;
}

.contacts {
    line-height: 1.3;
}

.contacts a {
    color: #000b8c;
    display: inline;
}

.contact_us div {
    margin: 1rem 0 2rem;
}

.contact_us a {
    color: #000b8c;
    margin-right: 1vw;
    display: inline;
}

.copyright {
    font-size: 1rem;
}

@media (min-width: 992px) {
    .nav_toggle {
        display: none;
    }
}

@media (max-width: 992px) {
    .nav-item a {
        padding: 0.5rem;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 80%;
    }

    .loader img {
        width: 45%;
    }

    .navbar img {
        width: 2rem;
    }

    .contact_btns {
        margin: 0 0 0.5rem;
    }

    .footer .col-xxl-3 {
        border-top: 0.2rem solid #CC9900;
        margin: 0rem 0rem 1rem;
        padding: 1rem 0 0;
    }
}