.title_div {
    margin-top: 10vh;
    color: #000b8c;
}

.title {
    width: 100%;
} 

.title-text {
    margin-left: 3vw;
    border-left: 0.2rem solid #CC9900;
    padding-left: 0.3vw;
}

.search_div {
    margin: 3vh 0;
    background-color: #FAFAFA;
    width: 100%;
    height: 7vh;
    border-radius: 1rem;
}

.search_drops select {
    background-color: #D7D7D7;
    display: inline;
    width: 15vw;
    height: 5.5vh;
    font-weight: 500;
    border-radius: 1rem;
    margin-top: 0.7vh;
}

.search_drops button {
    display: inline;
    width: 4.5vw;
    height: 5vh;
    font-weight: 500;
    border-radius: 1rem;
    color: white;
}

.unit {
    background-color: white;
    height: 50vh;
    border-radius: 1rem;
}

.details {
    margin: 1rem;
    color: #000b8c;
}

.details i {
    display: inline;
    color: #CC9900;
}

.details h4 {
    display: inline;
    color: black;
}

.details div {
    margin: 3vh 0;
}

.button button {
    color: white;
}

.picture img {
    width: 33vw;
    height: 50vh;
    background-size: cover;
}

.snapshots {
    color: white;
    background-color: #CC9900;
    margin: 3vh 0;
    height: 50vh;
}

.snapshots h1 {
    margin: 5vh 5vw;
}

.amenities {
    color: white;
    background-color: #CC9900;
    margin: 3vh 0;
    height: 50vh;
}

.amenities h1 {
    margin: 5vh 5vw;
}
